// Define variables for your color scheme

// For example:
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$cream-gray: #D9D9D6;
$almost-black: #1B1B1B;
$red: #D31525;
$yellow: #E9C40E;
$blue: #3D72A9;
$turquoise: #199B9E;
