#gamepicture {
  img {}
}

.container-game-show {
  background-color: $almost-black;
  h1 {
    color: $cream-gray;
}
}

.big-container-show {
  display: flex;
  padding: 80px;
}

.container-text-show {
  margin: 15px;
}

.book-btn {
  background-color: $yellow;
  padding: 10px;
  border-radius: 16px;
  margin-left: auto;
}

.book-btn:hover {
  background-color: $almost-black;
  color: $cream-gray;
  transition: 0.6s ease;
}

.game-description {
  margin: 20px;
  color: $cream-gray;
}


// this is just a comment
