.game-image {
  width: 30%;
}

.container-game-show {
  background-color: $almost-black;
  h1 {
    color: $cream-gray;
}
}

.big-container-show {
  display: flex;
  padding: 70px;
  padding-left: 150px;
}

.container-text-show {
  margin-left: 50px;
}

.book-btn {
  background-color: $yellow;
  margin: 30px;
  padding: 10px 20px;
  border-radius: 16px;
  margin-left: auto;
}

.book-btn:hover {
  background-color: $almost-black;
  color: $cream-gray;
  transition: 0.4s ease;
}

.game-description {
  margin: 20px;
  color: $cream-gray;
}

.container-calendar {
  color: $cream-gray;
}
