
<div style="background-color:#1B1B1B;">
  <div style="background-color:#D9D9D6; border-radius:10px;margin:auto; width:80%; padding:2em">
    <h1 style="font-size:9em">LOUE MOI L'JEU</h1>
  </div>
  <div style="display:flex;">
    <input type="text">
    <select name="Category" id=""></select>
    <select name="Platform" id=""></select>
    <submit>Search</submit>
  </div>
  <div>
  </div>
  <div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
</div>
