<div class='page-container'>
    <div class='rentals-banner'>
      <h2>My games</h2>
    </div>

    <div class='rentals-carrousel'>
      <div class="game-card">
        <h3>
          Le jeu vidéal
        </h3>
        <h4>
          Le console gamingue
        </h4>
      </div>
      <div class="game-card">
        <h3>
          Le jeu vidéal
        </h3>
        <h4>
          Le console gamingue
        </h4>
      </div>
      <div class="game-card">
        <h3>
          Le jeu vidéal
        </h3>
        <h4>
          Le console gamingue
        </h4>
      </div>
      <div class="game-card">
        <h3>
          Le jeu vidéal
        </h3>
        <h4>
          Le console gamingue
        </h4>
      </div>
      <div class="game-card">
        <h3>
          Le jeu vidéal
        </h3>
        <h4>
          Le console gamingue
        </h4>
      </div>
    </div>
  </div>

  <div class='rentals-banner red'>
    <h2>My rentals</h2>
  </div>
</div>
