<div class='page-container'>
  <div class='header-banner'>
    <h1>Browse games</h1>
  </div>

  <div class="index-list">
    <% @games.each do |game| %>
      <%= link_to game_path(game), class: "game-card" do %>
          <h3>
            <%= game.name %>
          </h3>
          <h4>
            <%= game.platform %>
          </h4>
           <i style="border:1px solid black;border-radius:15px;"class="p-2 fa-solid fa-arrow-right"></i>
      <% end %>
    <% end %>
  </div>
</div>
