<div class='page-container'>
  <div class='header-banner'>
    <h1>Browse games</h1>
  </div>

  <div class="index-list d-flex">
    <div class="game-card">
      <h3>
        Le jeu vidéal
      </h3>
      <h4>
        Console
      </h4>

    </div>
    <div class="game-card">
      <h3>
        Le jeu vidéal
      </h3>
      <h4>
        Console
      </h4>

    </div>
    <div class="game-card">
      <h3>
        Le jeu vidéal
      </h3>
      <h4>
        Console
      </h4>

    </div>
    <div class="game-card">
      <h3>
        Le jeu vidéal
      </h3>
      <h4>
        Console
      </h4>

    </div>
    <div class="game-card">
      <h3>
        Le jeu vidéal
      </h3>
      <h4>
        Console
      </h4>

    </div>
    <div class="game-card">
      <h3>
        Le jeu vidéal
      </h3>
      <h4>
        Console
      </h4>

    </div>
    <div class="game-card">
      <h3>
        Le jeu vidéal
      </h3>
      <h4>
        Console
      </h4>

    </div>
    <div class="game-card">
      <h3>
        Le jeu vidéal
      </h3>
      <h4>
        Console
      </h4>

    </div>
  </div>
</div>
           <%= link_to "test", game_path(1) %>
