.game-card {
  background-color: $cream-gray;
  border-radius: 20px;
  height: 300px;
  width: 21%;
  min-width: 200px;
  max-width: 25%;
  flex-grow: 1;
  padding: 20px;
  color: $almost-black;

  h3 {
    font-family: $monument-regular-font;
    font-size: 18px;
  }

  h4 {
    font-family: $monument-regular-font;
    font-size: 12px;
  }
}
